
  <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://tiendatalamas.com/assets/portadacentro.jpg" class="d-block w-100" alt="..."> 
    </div>
      <div class="carousel-item">
        <img src="https://tiendatalamas.com/assets/portadacentro.jpg" class="d-block w-100" alt="..."> 
    </div>
      <div class="carousel-item">
        <img src="https://tiendatalamas.com/assets/portadacentro.jpg" class="d-block w-100" alt="...">   
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 
  
  <!--CONTENIDO PRINCIPAL-->
  <div class="mt-1 mb-5" style="margin-right: 20px; margin-left: 20px;">
             <!--ENUNCIADO-->
            <div class="row mt-2">
              <div class="col-3">
                <div id="tarjetaInformacion" class="card mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                     <img class="img-fluid"  style="margin: 0 auto; display: block;" src="{{empresa[0]['empresa_logo']}}">
                    </div>
                  </div>
              </div>
              <div class="col-7">
                  <h2 style="font-weight:700;">{{empresa[0]['puesto']}}</h2>
                  <h5 style="font-weight:600; font-size: small;">{{empresa[0]['salario']}} mensual</h5>
                  <h5 style="font-weight:600; font-size:medium;">{{empresa[0]['empresa_direccion']}}</h5>
              </div>
           </div>  

      <div class="row">

          <div class="col-lg-3 col-md-12 col-sm-12">
            <div id="tarjetaInformacion" class="card">
                <div class="card-header" id="headcard">Beneficios</div>
                <div class="card-body">
                  <p id="puntocard1" class="card-text" *ngFor="let beneficio of empresa[1]" > {{beneficio.nombre}} </p>
                </div>
              </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
              <div id="cuadroInformacion" class="container-fluid">
                <p id="Descripcion">Descripción</p>
                  <p>{{empresa[0]['empresa_descripcion']}}


                  </p>
     
              </div>
          </div>

          <div class="col-lg-3 col-md-12 col-sm-12">
               <div id="tarjetaInformacion" class="card">
                 <div class="card-header" id="headcard2">Hace 5 dias</div>
                 <div class="card-body">
                    <p id="textocard2" class="card-text">{{empresa[0]['empresa_nombre']}}</p>
                 </div>
                 <div class="card-footer d-grid gap-2">
                  <button class="btn btn-danger" type="button">Postularme</button> 
                </div>
               </div>
        </div>
      </div>
  </div>   

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>