
 <div
 id="sliderBPrincipal"
 class="carousel slide"
 data-bs-touch="false"
 data-bs-interval="false"
>
 <div class="carousel-inner">
   <div
     class="carousel-item"
     [ngClass]="{ active: esElPrimero }"
     *ngFor="let banner of banners; let esElPrimero = first"
   >
     <img
       src="{{ banner.imagen }}"
       class="d-block w-100"
       (click)="verMas(banner.empresa_id)"
     />
   </div>
 </div>
 <button
   class="carousel-control-prev"
   type="button"
   data-bs-target="#sliderBPrincipal"
   data-bs-slide="prev"
 >
   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
   <span class="visually-hidden">Previous</span>
 </button>
 <button
   class="carousel-control-next"
   type="button"
   data-bs-target="#sliderBPrincipal"
   data-bs-slide="next"
 >
   <span class="carousel-control-next-icon" aria-hidden="true"></span>
   <span class="visually-hidden">Next</span>
 </button>
</div>
  
  
  <div class = "container mt-5">
  
      <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="card border-light mb-3">
                  <div class="card-header text-center" id="cabeceraTarjeta">
                     Hoy en Laredo
                  </div>
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
          </div>
  
          <div class=" col-sm-6 col-md-6 col-lg-9">
              <div class="card text-center">
                  <div class="card-header" id="cabeceraTarjeta">
                    ¿Buscas algo en especifico?
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="input-group rounded">
                          <select class="form-select" id="categoriaSeleccionada" [(ngModel)]="categoriaSeleccionada">
                              <option *ngFor = "let categoria of categorias" value="{{categoria.categoria_nombre}}">{{categoria.categoria_nombre}}</option>
                          </select>
                          <button class="btn btn" id="boton" (click)="buscarOfertas()">Buscar</button>
                        </div>
                   </div>
                  </div>
                </div>
          </div>
      </div>
         
   
      <div class = "row">
        <div class = "col-xl-6 mt-3 mb-5" *ngFor = "let oferta of ofertas; let i = index">
          <div class="card" id="tarjeta">
            <div id="cabeceraTarjeta" class="card-header">
              {{oferta.empresa}}
            </div>
            <div class="card-body" style="height:225px;">
              <h5 class="card-title">{{oferta.puesto}}</h5>
              <p class="card-text">{{oferta.descripcion}}</p>
              <p class = "card-text">Categoria: {{oferta.categoria}} - Salario: ${{oferta.salario}}</p>
              <a [routerLink]="['/informacion-oferta', oferta.id]" class="btn btn" id="boton">Ver más</a>
            </div>
          </div>
        </div>
    </div>
  </div>
  