#navbar
{
    background-color: rgb(20, 30, 116);
}

#cabeceraTarjeta
{
    background-color: rgb(20, 30, 116);
    color: white;
}

#contenedorAcerca
{
    
    box-shadow: 2px 2px 5px 0px #e9e9e9;
    padding:5px;
    text-align: justify;
}

.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgb(20, 30, 116);
}

#boton
{
    background-color: rgb(20, 30, 116);
    color: white;
}

#tarjeta
{
    box-shadow: 0 4px 6px -1px rgb(198, 207, 234);
}

#tarjeta:hover
{
    box-shadow: -2px 6px 8px -1px rgb(198, 207, 234);
    transform: translate(0px,-7px);
    transition: .3s ease-in-out;
    
}

b
{
    font-family: 'Archivo Black', sans-serif;
}