<router-outlet></router-outlet>
<div
  id="sliderEPrincipal"
  class="carousel slide"
  data-bs-touch="false"
  data-bs-interval="false"
>
  <div class="carousel-inner">
    <div
      class="carousel-item"
      [ngClass]="{ active: esElPrimero }"
      *ngFor="let banner of banners; let esElPrimero = first"
    >
      <img
        src="{{ banner.imagen }}"
        class="d-block w-100"
        (click)="verMas(banner.empresa_id)"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#sliderEPrincipal"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#sliderEPrincipal"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!---
<div class="mt-3" style="width: 100%; background-color: white">
  <form>
    <input #buscador type="text" />
    <button
      [disabled]="botonBuscarDeshabilitado"
      class="btn btn-primary"
      (click)="buscarEmpresas(buscador.value)"
    >
      {{ botonBuscarTexto }}
    </button>
  </form>
</div>-->

<!--
<app-e-buscador></app-e-buscador>
-->



  <!---
<div class="row mt-3 mb-3">
  <div class="col-lg-3 col-md-3 col-sm-12 " style="background-color: red;">
    <ul
      class="list-group list-group-flush"
      *ngFor="let categoria of categorias; let i = index"
      style="background-color: #5bc0eb !important"
    >
      <li
        class="list-group-item"
        style="background-color: #0e79b2 !important; color: white"
      >
        {{ categoria["categoria"] }}
        <ul *ngFor="let subCategoria of categoria['subCategoria']">
          <li>{{ subCategoria }}</li>
        </ul>
      </li>
    </ul>
    
        <div class="list-group" *ngFor = "let categoria of categorias; let i = index">
            <button id="cabeceraLista" type="button" class="list-group-item list-group-item-action active" disabled aria-current="true">
              {{categoria["categoria"]}}
              <ul *ngFor = "let subCategoria of categoria['subCategoria']">
                <li (click) = "clk('SUBCATEGORIA')">{{subCategoria}}</li>
              </ul>
            </button>
          </div>
          
  </div>
        
        <h1 *ngIf="mostrarNoSeEncontraronEmpresas">
          No se encontraron empresas
        </h1>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-2" *ngFor="let item of empresas; let i = index">
        <div class="card">
          <img src="{{ item['logotipo'] }}" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item["nombreEmpresa"] }}</h5>
            <p class="card-text">{{ item["descripcion"] }}</p>
          </div>
      
        </div>
      </div>
      -COMENTADO
        <div class="col-3" style="background-color: green; height:250px;" *ngFor="let item of empresas; let i = index">
          <div class="card">
            <img src="{{ item['logotipo'] }}" class="card-img-top" style="width:100%; height: auto;" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ item["nombreEmpresa"] }}</h5>
              <p class="card-text">{{ item["descripcion"] }}</p>
            </div>
            <button class="btn" (click)="verMas(item['id'])" style=" background-color: #0e79b2; color: white; border-radius: 0 !important;">
              Ver mas
            </button>
          </div>
        </div>-->

     
    
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12" style="padding: 20px;">
      <ul
      class="list-group list-group-flush"
      *ngFor="let categoria of categorias; let i = index"
      style="background-color: #5bc0eb !important"
    >
      <li
        class="list-group-item"
        style="background-color: #1ea6b2 !important; color: white"
      >
        {{ categoria["categoria"] }}
        <ul *ngFor="let subCategoria of categoria['subCategoria']">
          <li>{{ subCategoria }}</li>
        </ul>
      </li>
    </ul>
      </div>
    <div class="col-lg-9 col-md-6 col-sm-12" style="padding: 20px;">

        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-2" *ngFor="let item of empresas; let i = index">
            <div class="card mb-3" style="height: 370px;">
              <img src="{{ item['logotipo'] }}" style = "width: 320px; height: 195px;" class="card-img-top img-fluid" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ item["nombreEmpresa"] }}</h5>
                <p class="card-text">{{ item["descripcion"] }}</p>
              </div>
              <button class="btn" (click)="verMas(item['id'])" style=" background-color: #1ea6b2; color: white; border-radius: 0 !important;">
                Ver mas
              </button>
          
            </div>
          </div>
        </div>

    </div>  
  </div>

  
<nav  class="mt-3" aria-label="navegacion de pagina">
  <ul class="pagination pagination-sm justify-content-center" >
    <li   class="{{selectedIndex==i ? 'active':''}}" class="page-item " *ngFor = "let pagina of numeroDePaginas; let i = index;">
      <a class="page-link" (click)="obtenerNoticiasPorNumeroDePagina(pagina, i)">{{pagina}}</a>
    </li>
  </ul>
</nav>
</div>



