
  <div id="sliderEPrincipal" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner" >
      <div class="carousel-item" [ngClass]="{'active': esElPrimero }" *ngFor = "let banner  of banners; let esElPrimero = first;">
          <img src="{{banner.imagen}}" class="d-block w-100"> 
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#sliderEPrincipal" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sliderEPrincipal" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="row mt-3 mb-3">
    <div class="col-3" style="margin-left: 10px;">
        <div class="list-group">
            <button id="cabeceraLista" type="button" class="list-group-item list-group-item-action active" disabled aria-current="true">
              Lista de productos
            </button>
            <button type="button" class="list-group-item list-group-item-action">Restaurante 1</button>
            <button type="button" class="list-group-item list-group-item-action">Restaurante 2</button>
            <button type="button" class="list-group-item list-group-item-action">Restaurante 3</button>
            <button type="button" class="list-group-item list-group-item-action">Restaurante 4</button>
          </div>
    </div>
    <div class="col-7">
        <div id="contenidoPrincipal" class="container">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col" *ngFor="let item of empresas; let i = index;">
                  <div class="card" >
                    <img src="{{item['logotipo']}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{item["nombreEmpresa"]}}</h5>
                      <p class="card-text">{{item["descripcion"]}}</p>
                      <div *ngFor = "let sucursal of item['sucursales']">
                        Sucursal: <p class="card-text">{{sucursal["sucursal"]}} - {{sucursal["correo"]}}</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
       </div>
    </div>
</div>