<div class="container">

    <div class="row mt-5">
        <div class="col-9" style="padding: 20px;" *ngFor = "let principal of noticiaPrincipal">
            <div class="card mb-3" (click)="verMas(principal.id)">
                <img class="card-img-top" style = "height: 350px;"  src="{{principal.encabezado_imagen}}" alt="Card image cap">
                <div class="card-body">
                  <p>{{principal.seccion}}</p>
                  <h5 class="card-title">{{principal.titulo}}</h5>
                  <p class="card-text">{{principal.cuerpo}}
                  </p>
                  <!--
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  -->
                </div>
            </div>

            <div class="row">
                <div class="col-4" *ngFor = "let noticia of noticias">
                <div id="tarjetaNoticias" class="card"  (click)="verMas(noticia.id)">
                    <img class="card-img-top" id="img" src="{{noticia.encabezado_imagen}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title" id="titulo">{{noticia.titulo}}</h5>
                      <p class="card-text" id="encabezado">{{noticia.encabezado}}</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text text-center" id="seccion">{{noticia.seccion}}</p>
                    </div>
                  </div>
                </div>
            </div>   

         </div>

        <div class="col-3" style="padding: 20px;">

            <ul class="list-group list-group-flush" *ngFor = "let seccion of secciones">
                <li class="list-group-item">{{seccion.nombre}}</li>
              </ul>

        </div>
</div>


