<div class="container">

    <div class="row mt-5">
        <div class="col-9" style="padding: 20px;">
            <div class="card mb-3">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="row">
                <div class="col-4" *ngFor = "let noticia of noticias">
                <div id="tarjetaNoticias" class="card mb-3"  (click)="verMas(noticia.id)">
                    <img class="card-img-top" id="img" src="{{noticia.encabezado_imagen}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title" id="titulo">{{noticia.titulo}}</h5>
                      <p class="card-text" id="encabezado">{{noticia.encabezado}}</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text text-center" id="seccion">{{noticia.seccion}}</p>
                    </div>
                  </div>
                </div>
            </div>   

         </div>

        <div class="col-3" style="padding: 20px;">

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>

        </div>
</div>

<nav  class="mt-3" aria-label="navegacion de pagina">
  <ul class="pagination pagination-sm justify-content-center">
      <a class="page-link">Anterior</a>
    <li  class="page-item "><a class="page-link">1</a></li>
    <li class="page-item active" ><a class="page-link" >2</a></li>
    <li  class="page-item " ><a class="page-link">3</a></li>
      <a class="page-link">Siguiente</a>
  </ul>
</nav>


</div>


