<nav class="navbar navbar-expand-lg navbar-light" style = "background-color:white;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul  class="collapse navbar-collapse mx-auto navbar-nav" id="navbarNav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <b>Aspirantes</b>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" [routerLink]="['ofertas-aspirantes']">Lista de aspirantes</a>
        <a class="dropdown-item"  [routerLink]="['registro-aspirantes']">Registrarse como aspirante</a>
        <div class="dropdown-divider"></div>
      </div>
    </li>
  </ul>

  <a class="navbar-brand" style="cursor:pointer;"><img fallimg id="logo" src="https://img1.wsimg.com/isteam/ip/7e1b7c92-7cec-4589-8d0f-fff59e0a71f4/LOGO%20HORIZONTAL.png/:/rs=w:222,h:51,cg:true,m/cr=w:222,h:51/qt=q:95" alt="" ></a>
  <a class="collapse navbar-collapse nav-link" id="navbarNav" [routerLink]="['']" >Inicio</a>

</nav>


<router-outlet></router-outlet>



